<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.vin.android.bluetoothprinter">
    <!--蓝牙连接要用到权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--蓝牙搜索要用到权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--蓝牙基本的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>